.container {
    position: relative;
   
  }
  
  .type-selection {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
  }
  
  #typeSelect {
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #1e3a8a;
  }
  
  #typeSelect:focus {
    outline: none;
    border-color: #3b82f6;
  }
  
  .upload-container {
    margin-top: 60px; /* Adjust this value as needed to ensure dropdown is not overlapping */
  }
  
  .upload-box {
    border: 2px dashed #1e3a8a;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #f0f4f8;
    position: relative;
  }
  
  .upload-icon img {
    width: 50px;
    height: 50px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 15px;
  }
  
  .browse-button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .browse-button:hover {
    background-color: #1e3a8a;
  }
  
  .selected-files {
    margin-top: 20px;
  }
  
  .file-list {
    list-style-type: none;
    padding: 0;
  }
  
  .file-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .file-preview {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .remove-button {
    background-color: #f87171;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .remove-button:hover {
    background-color: #e11d48;
  }
  
  .error-message {
    color: #e11d48;
    margin-top: 20px;
  }
  
  .upload-button {
    margin-top: 20px;
    padding: 8px 15px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
  }
  
  .upload-button:disabled {
    background-color: #9ca3af;
  }
  
  .upload-button:hover:enabled {
    background-color: #1e3a8a;
  }
  
  .response-message {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    color: red;
    font-size: 34px;
  }
  
  /* Add these animations to your Upload.css */
@keyframes blink-green {
    0% { background-color: white; }
    50% { background-color: green; color: white; }
    100% { background-color: white; }
  }
  
  @keyframes blink-orange {
    0% { background-color: white; }
    50% { background-color: orange; color: white; }
    100% { background-color: white; }
  }
  
  @keyframes blink-red {
    0% { background-color: white; }
    50% { background-color: red; color: white; }
    100% { background-color: white; }
  }
  
  .blink-green {
    animation: blink-green 1s;
  }
  
  .blink-orange {
    animation: blink-orange 1s;
  }
  
  .blink-red {
    animation: blink-red 1s;
  }
  